!!!
%html
  %head
    %title Backbone Hangman
    = stylesheet_link_tag     "css/hangman.css"
    = javascript_include_tag  "javascript/jquery.js",
                              "javascript/underscore.js", 
                              "javascript/backbone.js",
                              "javascript/handlebars.js",
                              "javascript/models/game.js",
                              "javascript/views/optionsView.js",
                              "javascript/views/charactersView.js",
                              "javascript/views/wordView.js",
                              "javascript/hangman.js"
  %body
    
    #stage
      = haml :west
      = haml :east
        
            
    = erb :templates