!!!
%html
  %head
    %title Backbone Hangman
    %meta{:name => "description", :content => "A simple application that demonstrates usage of Backbone JS"}
    %meta{:name => "author", :content => "Tri Vuong"}
    = stylesheet_link_tag     "http://fonts.googleapis.com/css?family=Montserrat",
                              "css/hangman.css"
  %body
    
    = haml :forkme
    
    #stage
      = haml :west
      = haml :east
    
    = haml :footer
            
    = erb :templates

    = javascript_include_tag  "javascript/require.js", :"data-main" => "javascript/config"
