#west    
  #ground
    #string
    #hangman
      = image_tag "images/head.png", :id => :head
      = image_tag "images/body.png", :id => :body
      = image_tag "images/right_arm.png", :id => :right_arm
      = image_tag "images/left_arm.png", :id => :left_arm
      = image_tag "images/right_leg.png", :id => :right_leg
      = image_tag "images/left_leg.png", :id => :left_leg